 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 673px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 0 50px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 623px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 3px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 47px 34px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1.875rem;
  font-style: normal;
  line-height: 1.8;
  margin: 35px 22px 0 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 140px;
  width: 723px;
  margin: 48px 417px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 514px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    width: 360px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 217px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 638px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 39px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
    margin-top: 43px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-right: 52px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 643px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    font-weight: 900;
    margin-top: 43px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 43px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 670px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 60px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 45px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 307px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 15px 0 1px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    margin-right: 107px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1152px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 41px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 36px;
    margin-bottom: -26px;
  }
}